{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <div class="row">

    <!-- LEFT: BLOG -->
    <div class="col-lg-8">

      <article>
        <header class="mb-4">
          <h1 class="fw-bolder mb-1">{{ blog_post.title }}</h1>

          <div class="text-muted fst-italic mb-2">
            Posted on {{ blog_post.created_at }} by {{ blog_post.author }}
          </div>

          <a class="badge bg-warning text-decoration-none text-light"
            href="{% url 'post_by_category' blog_post.category.pk %}">
            {{ blog_post.category }}
          </a>
        </header>

        <figure class="mb-4">
          <img class="img-fluid rounded" src="{{ blog_post.featured_image.url }}" alt="Blog image" style="width: 650px; height: auto;">
        </figure>

        <section class="mb-5">
          <p class="fs-5 mb-4">
            {{ blog_post.short_description }}
          </p>

          <p class="fs-5 mb-4">
            {{ blog_post.blog_body }}
          </p>

          <!-- COMMENT FORM -->
          {% if user.is_authenticated %}
          <div class="form-group">
            <form action="" method="POST" class="p-4 border rounded bg-light shadow-sm">
              {% csrf_token %}

              <h5 class="mb-3 font-weight-bold">Leave a Review</h5>

              <!-- Rating -->
              <div class="form-group">
                <label class="font-weight-bold d-block">Your Rating</label>
                <div>
                  <label class="mr-2">
                    <input type="radio" name="rating" value="1"> <i class="fa fa-star text-warning"></i>
                  </label>
                  <label class="mr-2">
                    <input type="radio" name="rating" value="2"> <i class="fa fa-star text-warning"></i><i
                      class="fa fa-star text-warning"></i>
                  </label>
                  <label class="mr-2">
                    <input type="radio" name="rating" value="3"> <i class="fa fa-star text-warning"></i><i
                      class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                  </label>
                  <label class="mr-2">
                    <input type="radio" name="rating" value="4"> <i class="fa fa-star text-warning"></i><i
                      class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i
                      class="fa fa-star text-warning"></i>
                  </label>
                  <label class="mr-2">
                    <input type="radio" name="rating" value="5"> <i class="fa fa-star text-warning"></i><i
                      class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i
                      class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                  </label>
                </div>
              </div>

              <!-- Comment -->
              <div class="form-group">
                <label class="font-weight-bold">Your Comment</label>
                <textarea name="comment" class="form-control" rows="4"
                  placeholder="Write your comment here..."></textarea>
              </div>

              <!-- Submit -->
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-paper-plane"></i> Submit
              </button>
            </form>
          </div>
          {% else %}
          <h6 class="text-warning"><a href="{% url 'login' %}">login</a> required to write a comment!</h6>
          {% endif %}

          <!-- COMMENTS -->
          <h4>Comments ({{ total_comments }})</h4>
          <h6>Rating:
            {% for _ in full_stars %}
              <i class="fa-solid fa-star text-warning"></i> 
            {% endfor %}
            {% if half_stars %}
              <i class="fa-solid fa-star-half-stroke text-warning"></i>
            {% endif %}
            {% for _ in empty_stars %}
              <i class="fa-regular fa-star text-warning"></i>
            {% endfor %}
            ({{ avg_rating}}/5)
          </h6>

          {% if comments %}
          {% for comment in comments %}
          <div class="card mt-2">
            <div class="card-body">

              <!-- Top Row -->
              <div class="d-flex justify-content-between align-items-center mb-2">
                <small class="font-weight-bold">by {{ comment.user }} | {{ comment.created_at | timesince}} ago</small>

                <div>
                  {% for _ in comment.stars %}
                  <i class="fa fa-star text-warning"></i>
                  {% endfor %}
                </div>
              </div>

              <!-- Comment -->
              <p class="card-text mb-2">{{ comment.comment }}</p>              

            </div>
          </div>
          {% endfor %}
          {% else %}
          <span class="text-warning">No comments yet!</span>
          {% endif %}

          <br>

        </section>
      </article>

    </div>

    <!-- RIGHT: SIDEBAR -->
    <div class="col-lg-4">

      <!-- Categories -->
      <div class="card mb-4 p-3">
        <h4 class="font-italic">Categories</h4>
        <ul class="list-unstyled mb-0">
          {% for cat in categories %}
          <li><a href="{% url 'post_by_category' cat.pk %}">{{ cat }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <!-- Social Links -->
      <div class="card mb-4 p-3">
        <h4 class="font-italic">Follow Us</h4>
        <ol class="list-unstyled">
          {% for link in social_links %}
          <li><a href="{{ link.media_link }}" target="_blank">{{ link}}</a></li>
          {% endfor %}
        </ol>
      </div>

    </div>

  </div>
</div>

{% endblock %}